*, ::before, ::after {
  box-sizing: border-box;
}

html {
  color: #455a64;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
}

h2 {
  margin: 0 0 1.25rem 0;
}

h3 {
  margin: 0 0 1rem 0;
}

body {
  background-color: #eceff1;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  padding: 3rem;
}

.left {
  margin-left: auto;
  margin-right: 3rem;
}

.right {
  display: flex;
  flex-flow: column;
  margin-right: auto;
  width: 400px;
}

.hypergraph-container,
.barchart-container {
  position: relative;
}

.course {
  position: relative;
}

.course:hover .course-name {
  visibility: visible;
}

.node {
  fill-opacity: 1;
  stroke-width: 5;
}

.node {
  cursor: pointer;
  transition: 0.3s linear;
}

.option-node {
  stroke-width: 0;
}

.compulsory {
  fill-opacity: 0.25;
}

.schedule-overlap {
  fill: #000000;
  fill-opacity: 1;
}

.non-active {
  opacity: 0.25;
}

.not-clickable {
  cursor: default;
}

.active,
.prerequisite,
.schedule-overlap {
  opacity: 1;
}

.not-interested {
  opacity: 0.1;
}

.link {
  stroke-width: 1.5;
  transition: 0.3s linear;
}

.link.non-active {
  opacity: 1;
  stroke: #cfd8dc;
  stroke-width: 1;
}

.tooltip {
  background-color: #455a64;
  border-radius: 4px;
  color: #fff;
  font-size: 0.75rem;
  max-width: 150px;
  opacity: 0;
  padding: 0.25rem 0.5rem;
  position: absolute;
  transition: opacity 0.3s;
  z-index: -1;
}

.tooltip.active {
  opacity: 0.75;
  z-index: 1;
}

/**
* Infobox
*/
.hidden {
  display: none;
}

.legenda {
  margin-top: 2rem;
}

.legenda-item {
  align-items: center;
  color: #90a4ae;
  display: flex;
  margin-bottom: 0.5rem;
}

.legenda-item:last-child {
  margin-bottom: 0;
}

.legenda-item svg {
  margin-right: 0.5rem;
}

.legenda-item .node {
  fill: #cfd8dc;
  cursor: default;
  stroke: #cfd8dc;
}

.points {
  color: #78909c;
  font-size: 0.875rem;
}

.coursesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.coursesList li {
  align-items: center;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.75rem;
  min-height: 25px;
  padding-left: calc(25px + 1rem);
  position: relative;
}

.coursesList li:last-child {
  margin-bottom: 0;
}

.coursesList li:hover {
  text-decoration: underline;
}

.coursesList svg {
  left: 0;
  position: absolute;
  top: 0;
}

.semester-rect {
  fill: #eceff1;
}

/**
* Radio buttons
*/

/* The container */
.radiobutton {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 1.25rem;
}

.radiobutton:last-child {
  margin-bottom: 0;
}

/* Hide the browser's default radio button */
.radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.radiobutton .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: #cfd8dc;
    border-radius: 4px;
}

/* When the radio button is checked, add a blue background */
.radiobutton input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked or hovered */
.radiobutton:hover input ~ .checkmark:after,
.radiobutton input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radiobutton .checkmark:after {
  border: solid white;
  border-width: 0 2px 2px 0;
  height: 8px;
  left: 8px;
  top: 5px;
  transform: rotate(45deg);
  width: 4px;
}

/**
* switch button
*/

/* The switch - the box around the slider */
.switch {
  align-items: center;
  color: #90a4ae;
  display: flex;
  height: 1.5rem;
  padding-left: 4rem;
  position: relative;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.switch-interested {
  margin-bottom: 2rem;
}

/* The slider */
.slider {
  border-radius: 1rem;
  height: 1.5rem;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cfd8dc;
  transition: .3s;
  width: 3rem;
}

.slider:before {
  border-radius: 50%;
  position: absolute;
  content: "";
  height: 1rem;
  width: 1rem;
  left: 0.25rem;
  bottom: 0.25rem;
  background-color: white;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(1.5rem);
}

/**
* Barchart
*/

.barchart-container {
  margin-top: 2rem;
}

.rect-sem {
  fill-opacity: 1;
  cursor: pointer;
}

.barchart-text {
  fill: #90a4ae;
  font-size: 0.875rem;
  font-weight: bold;
}

.barchart-label {
  font-weight: normal;
}
